/* index.css */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: var(--color-bg);
   color: var(--color-text);
   font-family: 'Inter', sans-serif;
   min-height: 100vh;
   line-height: 1.5;
}

a {
   color: inherit;
   text-decoration: none;
}
